<div class="container">
    <section class="section">
        <h2 class="title is-2">Sign Up Page</h2>
    </section>
    <section>
        <form action="">
            <label class="label" for="email">email</label>
            <input class="input" type="email" required />
            <label class="label" for="password">Password</label>
            <input class="input" type="password" required />
        </form>
    </section>
    <div>
        <button class="button is-success">Login</button>
    </div>
</div>