<h2 class="title is-2">Login Page</h2>
<section>
    <form>
        <label class="label" for="email">email</label>
        <input class="input" type="email" name="email" required />
        <label class="label" for="password">Password</label>
        <input class="input" type="password" name="password" required />
        <div class="has-text-danger" id="error"></div>
        <br><br>
        <button class="button is-success">
        Login
        </button>

    </form>
</section>

<script>
    const login = document.querySelector('form')
    const error = document.getElementById('error')
    
    login.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Reset Error
        error.innerHTML = ''

        // Get the Value
        const email = login.email.value;
        const password = login.password.value;

        try {
            const res = await fetch('/login', {
            method: 'POST',
            headers: { 
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ email, password })
        })
        const data = await res.json()
            if(data.error) {
                console.log(error)
                error.innerHTML = data.error
            }
            if(data.user) {
                console.table(data.user)
                location.assign('/profile')
            }
        }
        catch (err) {
            console.info(err)
        }
    })

</script>