<h2 class="title is-2">Sign Up Page</h2>
<section>
    <form>
        <label class="label" for="name">Name</label>
        <input class="input" name="name" type="text" required/>
        <label class="label" for="email">email</label>
        <input class="input" name="email" type="email" required/>
        <label class="label" for="password">Password</label>
        <input class="input" name="password" type="password" required/>
        <button class="button is-success">
        Signup
        </button>

            
    </form>
</section>


<script>
    const signup = document.querySelector('form')
    
    signup.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Get the Value
        const name = signup.name.value;
        const email = signup.email.value;
        const password = signup.password.value;

        try {
            const res = await fetch('/signup', {
            method: 'POST',
            headers: { 
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ name, email, password })
        })
        const data = await res.json()
            if(data.user) {
                location.assign('/')
            }
        }
        catch (err) {
            console.info(err)
        }
    })

</script>