<h2 class="title is-2">Create Article</h2>
<section>
    <form>
        <label class="label" for="tittle">Tittle</label>
        <input class="input" type="text" name="tittle"/>
        <label class="label" for="content">Content</label>
        <textarea class="textarea" name="content" id="" cols="30" rows="10"></textarea>
        <div class="has-text-danger" id="error"></div>
        <br><br>
        <button class="button is-success">
            Create Article
        </button>

    </form>
</section>

<script>
    const blog = document.querySelector('form')
    const error = document.getElementById('error')
    
    blog.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Reset Error
        error.innerHTML = ''

        // Get the Value
        const tittle = blog.tittle.value;
        const content = blog.content.value;
    

        try {
            const res = await fetch('/blogs/create-post', {
            method: 'POST',
            headers: { 
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ tittle, content })
        })
        const data = await res.json()
            if(data.error) {
                error.innerHTML = data.error
            }
            if(data.article) {
                location.assign('/blogs')
            }
        }
        catch (error) {
            console.info(error)
        }
    })
</script>
