<h2 class="title is-2">Edit Article</h2>
{{#article}}
<section>
    <form>
        <label class="label" for="tittle">Tittle</label>
        <input class="input" type="text" name="tittle" value="{{tittle}}" required />
        <label class="label" for="content">Content</label>
        {{!-- <input class="input" type="text" name="content" required /> --}}
        <textarea class="textarea" name="content" id="" cols="30" rows="10">{{content}}</textarea>
        <br>
        <div class="select is-primary">
            
            <select class="status" name="publish">
                {{#if published}}
                    <option value=true>Publish</option>
                    <option value=false>Draft</option>
                    {{else}}
                    <option value=false>Draft</option>
                    <option value=true>Publish</option>
                {{/if}}
            </select>
        </div>
        <br><br>
        <div class="buttons">
        <a>
          <button onclick="history.back()" class="button is-success is-outlined">
                👈🏼 Back
          </button>
        </a>
      </div>
      
      <div class="buttons is-right">
          <button class="button is-link" id="update">
              <span>Save</span>
          </button>
      </div>
    </form>
</section>


<script>
    const blog = document.querySelector('form')
    
    blog.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Get the Value
        const tittle = blog.tittle.value;
        const content = blog.content.value;
        const publish = blog.publish.value;
    

        try {
            const res = await fetch('/blogs/update/{{id}}', {
            method: 'PATCH',
            headers: { 
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ tittle, content, publish })
        })
        const data = await res.json()
            if(data.article) {
                location.assign('/blogs')
            }
        }
        catch (err) {
            console.info(err)
        }
    })
</script>

{{/article}}