<div class="title">
  <h2 class="title is-2">Login Page</h2>
</div>
<form action="/login" method="POST">
    <div class="field">
        <label class="label" for="email">Email</label>
        <input class="input" type="email" name="email" id="email" />
    </div>
    <div class="field">
        <label class="label" for="email">Password</label>
        <input class="input" type="password" name="password" id="password" />
    </div>
    <div class="control">
      <button class="button is-primary" type="submit">Login</button>
    </div>
</form>