<div class="title">
    <h2 class="title is-2">Signup Page</h2>
</div>
<form action="/signup">
    <div class="field">
        <label class="label" for="name">Name</label>
        <input class="input" type="text" name="name" id="name" required/>
    </div>
    <div class="field ">
        <label class="label" for="email">Email</label>
        <input class="input" type="email" name="email" id="email" required/>
    </div>
    <div class="field">
        <label class="label" for="email">Password</label>
        <input class="input" type="password" name="password" id="password" required/>
    </div>
    <div class="control">
        <button class="button is-primary">Sign Up</button>
    </div>
</form>

<script>
    const signup = document.querySelector('form')
    
    const submit = signup.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Get the Value
        const name = signup.name.value;
        const email = signup.email.value;
        const password = signup.password.value;

        try {
            const res = await fetch('/signup', {
            method: 'POST',
            headers: { 
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ name, email, password })
        })
        const data = await res.json()
            if(data.user) {
                location.assign('/')
            }
        }
        catch (err) {
            console.info(err)
        }
    })
</script>