<form>
    <h2>Create Post</h2>
  <div class="mb-3">
    <label for="title" class="form-label">Create Some Post</label>
    <input name="title" type="text" class="form-control" id="" aria-describedby="">
    <div class="form-text">Title</div>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Content</label>
    <input name="content" type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>